// Here you can add other styles
// .sidebar-header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: var(--cui-sidebar-padding-y) var(--cui-sidebar-padding-x);
//     height: 7rem;
// }

.sidebar-brand-full {
    margin-left: 3px;
    height:65px;
}

// MENU
.dark-theme .sidebar, [data-coreui-theme=dark] .sidebar {
    background-color: #414143 !important;
    background-image: none !important;
}
 
.sidebar-header{
    background-color: #414143 !important;
}

.sidebar-toggler {
    --cui-sidebar-toggler-color: rgb(0, 0, 0);
    --cui-sidebar-toggler-hover-color: rgba(0, 0, 0, 0.65);
    --cui-sidebar-toggler-focus-color: rgb(0 148 255);
}
.simplebar-content{
background: #414143;
}

.header-background {
    background: linear-gradient(130deg, rgb(11, 45, 70) 0%, rgb(23, 86, 137) 35%, rgb(23, 86, 137) 81%, rgb(255, 255, 255) 81.1%);
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0% 100%);
    // height: 100px;
    // width: 100%;
    border-bottom: 5px solid rgb(0, 173, 239);
}

.header-image {
    position: absolute;
    // top: 0px;
    right: 14px;
    // width: 70px;
    height: 60px;
    z-index: 1;
}

.breadcrumb {
display: none;
}

// HEADER
.fw-semibold {
    font-weight: 300 !important;
    background-color: #e7e6e9;
    color: #414143;
    margin-bottom: 20px;
}
// FOOTER
.class-footer-customer {
  background: #231f20;
}
.styles-custumer-footer{
  display: -webkit-inline-box;
  padding: 0 5rem;
}
.flex-column-customer{
  flex-direction: column !important;
}


.letter-blue-15px {
  font-family: Arial, Helvetica, sans-serif; /* Fuentes sans-serif comunes */
    font-size: 15px; /* Ajusta el tamaño según sea necesario */
    color: #0099FF; /* Azul claro como en la imagen */
    letter-spacing: 1px; /* Espaciado entre letras */
    text-transform: uppercase; /* Texto en mayúsculas */
    padding: 10px; /* Espaciado interno para mejor visibilidad */
}
.letter-graylight-14px {
  font-family: Arial, Helvetica, sans-serif; /* Fuentes sans-serif comunes */
    font-size: 14px; /* Ajusta el tamaño según sea necesario */
    color: #f0eeee; 
    padding: 10px; /* Espaciado interno para mejor visibilidad */
    display: inline-block; /* Mantener el formato de bloque en línea */
}

// *** Advnanced Options

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 0px;
    padding-right: 1rem;
    font-size: 0.9375rem;
    color: var(--cui-accordion-btn-color);
    text-align: left;
    background-color: var(--cui-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--cui-accordion-transition);
}

.accordion-button:not(.collapsed) {
    color: rgb(0 173 239);
    background-color: rgb(216 235 253 / 0%);
    box-shadow: inset 0 calc(-1* var(--cui-accordion-border-width)) 0 var(--cui-accordion-border-color);
}
// ***INICIO **** MOSTRAR SOLO EL ICONO EN EL MENU AL COLAPSAR

/* Estilos base */
.sidebar-brand {
  transition: width 0.3s ease;
  overflow: hidden;
}

/* Cuando el sidebar está expandido */
.sidebar:not(.sidebar-narrow):not(.sidebar-narrow-unfoldable) .sidebar-brand {
  width: 100%;
}

/* Cuando el sidebar está colapsado */
.sidebar.sidebar-narrow .sidebar-brand,
.sidebar.sidebar-narrow-unfoldable .sidebar-brand {
  width: 4rem; /* Ajusta este valor según el ancho de tu sidebar colapsado */
}

/* Ocultar textos cuando está colapsado */
.sidebar.sidebar-narrow .sidebar-brand text,
.sidebar.sidebar-narrow-unfoldable .sidebar-brand text {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Ajustar imagen cuando está colapsado */
.sidebar.sidebar-narrow .sidebar-brand image,
.sidebar.sidebar-narrow-unfoldable .sidebar-brand image {
  width: 64px;
  height: 64px;
  x: 16px;
  y: 10px;
  transition: all 0.3s ease;
}

/* Estilos para hover en el sidebar colapsado */
.sidebar.sidebar-narrow:hover .sidebar-brand,
.sidebar.sidebar-narrow-unfoldable:hover .sidebar-brand {
  width: 16rem; /* Ajusta este valor al ancho deseado cuando se expande */
}

.sidebar.sidebar-narrow:hover .sidebar-brand text,
.sidebar.sidebar-narrow-unfoldable:hover .sidebar-brand text {
  opacity: 1;
}

.sidebar.sidebar-narrow:hover .sidebar-brand image,
.sidebar.sidebar-narrow-unfoldable:hover .sidebar-brand image {
  width: 80px;
  height: 80px;
  x: 10px;
  y: 18px;
}
// ***FIN **** MOSTRAR SOLO EL ICONO EN EL MENU AL COLAPSAR




// ******RESPONSIVIDAD*************


// Responsivo a Celular
@media (max-width: 500px) { 
    // @media (max-width: 768px) { 
    .header-image {
        position: absolute;
        right: 14px;
        height: 45px;
        z-index: 1;
     }
     .header-background {
        background: linear-gradient(130deg, rgb(11, 45, 70) 0%, rgb(23, 86, 137) 35%, rgb(23, 86, 137) 61%, rgb(255, 255, 255) 61.3%);
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0% 100%);
        border-bottom: 5px solid rgb(0, 173, 239);
    }

    // FOOTER
    .styles-custumer-footer{
      display: grid;
      justify-content: center;
      padding: 0 2rem;
    }
    .btn-cls-customer-padding{
      padding: 3px !important;
    }
  }
  
  // CSS para Tablets (iPads) en Modo Horizontal:
  @media (min-width: 501px) and (max-width: 1280px) {
    .header-image {
        position: absolute;
        right: 14px;
        height: 45px;
        z-index: 1;
     }
     .header-background {
        background: linear-gradient(130deg, rgb(11, 45, 70) 0%, rgb(23, 86, 137) 35%, rgb(23, 86, 137) 66%, rgb(255, 255, 255) 66.3%);
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0% 100%);
        border-bottom: 5px solid rgb(0, 173, 239);
    }
    // FOOTER
    .styles-custumer-footer{
      display: -webkit-inline-box;
      padding: 0 2rem;
    }
    .btn-cls-customer-padding{
      padding: 3px !important;
    }
  }
  
  // Responsivo a Laptop
  @media (min-width: 1280px) {
    .header-image {
        position: absolute;
        right: 14px;
        height: 60px;
        z-index: 1;
     }
  }

   // Responsivo a monitor
   @media (min-width: 1880px) {
    .header-image {
        position: absolute;
        right: 64px;
        height: 60px;
        z-index: 1;
     }
  }
  
  

  .custom-card {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #f0f0f0, #ffffff);
    // padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    height: 90%;
  }
  
  .number {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .text {
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .subtext {
    font-size: .8rem;
    color: #666;
  }
  .CenterTextsHome{
    align-content:center;
  }